<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/code.css" rel="stylesheet">
    <title>{{ title }}</title>
</head>

<body>
    <!-- HEADER -->
    <header class="site-header">
        <div class="wrapper">
            {% include "partials/mainnavigation.njk" %}
        </div>
    </header>

    <!-- MAIN CONTENT -->
    <main class="main-content">
        <div class="wrapper">
            {% block content %}
            {{ content | safe }}
            {% endblock %}
        </div>
    </main>

    <!-- FOOTER -->
    <footer>
        <div class="wrapper">
            <div>&copy; {% year %} 80fk.net</div> |
            <div>{% include "partials/language-switcher.njk" %}</div>
        </div>
    </footer>
</body>

</html>