{% extends "views/_layouts/base.njk" %}

{% block content %}
<article>

  <section class="text">
    {{ content | safe }}
  </section>

  <section class="tablereport">
    {% include "partials/alltimereport.njk" %}
  </section>
  
</article>
{% endblock %}