{% extends "views/_layouts/base.njk" %}

{% block content %}

<article class="log">

    {{ content | safe }}
    {% include "partials/monthlyreport.njk" %}
    {% include "partials/pagination.njk" %}

</article>

{% endblock %}