{% extends "views/_layouts/base.njk" %}

{% block content %}

<article>
    
    <section class="text">
        {{ content | safe }}
    </section>

    <section class="tablereport">
        {% include "partials/monthlyreport.njk" %}
    </section>

    <section class="pagination">
        {% include "partials/pagination.njk" %}
    </section>

</article>

{% endblock %}