/* CSS RESET */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margins */
* {
    margin: 0;
}


/* VARIABLES */
:root {
    --body-color: #f4f0e8;
    --text-color: #373636;
    --link-color: #0995c4;
    --other-color: #8395a6;
    --headings-color: #60747d;
    --default-size: 1.6rem;             /* default font size */
    --size-multiplier-smaller: 0.85;    /* smaller font size */
}


/* GLOBAL */

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    overflow-y: scroll;
    font-size: var(--default-size);
    line-height: 1.5;
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: system-ui, -apple-system, sans-serif;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.note ul {
    margin-bottom: 1rem;
}

/* LAYOUT */
.wrapper {
    max-width: 740px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

/* SITE HEADER */
.site-header .wrapper {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 1rem;
}

.site-header .wrapper a {
    font-weight: 550;
}

/* MAIN CONTENT */
.main-content {
    flex: 1;
}

/* FOOTER */
footer .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: calc(var(--default-size) * var(--size-multiplier-smaller));
    color: var(--other-color);
    gap: 0.5rem;
}

/* TABLES */
.table-overview {
    width: 95%;
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: calc(var(--default-size) * var(--size-multiplier-smaller));
    color: var(--text-color);
}

.header-row {
    color: var(--headings-color)
}

.unit-cell,
.data-cell {
    border-bottom: 1px solid #c3c2c2;
}

.unit-cell {
    font-style: italic;
    color: var(--other-color);
}

/* PAGINATION */
.pagination {
    display: flex;
    justify-content: space-between;
    font-size: calc(var(--default-size) * var(--size-multiplier-smaller));
    font-weight: 500;
    text-transform: uppercase;
    margin: 4rem 0;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .hidden-stuff {
        display: none;
    }

    .pagination {
        margin: 2rem 0;
    }

}