<!--
<{% set navPages = collections["page_" + lang] | eleventyNavigation  %}
{% for item in navPages %}
<a href="{{ item.url }}">{{ item.title }}</a>
{% endfor %}>
-->
<div>{% include "partials/language-switcher.njk" %}</div>